<mat-nav-list class="menu-block">
  <div class="menu-block-item__wrapper" routerLinkActive="active">
    <mat-list-item routerLink="/my-dreams"
                   class="menu-block__item">
      <fa-icon [icon]="['fas', 'moon']" size="lg" class="icon"></fa-icon>
      My dreams
    </mat-list-item>
  </div>
  <div class="menu-block-item__wrapper" routerLinkActive="active">
    <mat-list-item routerLink="/dreams-pattern"
                   class="menu-block__item">
      <fa-icon [icon]="['fas', 'chart-line']" size="lg" class="icon"></fa-icon>  
      Dreams patterns
    </mat-list-item>
  </div>
  <div class="menu-block-item__wrapper" routerLinkActive="active">
    <mat-list-item routerLink="/dreams-statistic"
                   class="menu-block__item">
      <fa-icon [icon]="['fas', 'chart-bar']" size="lg" class="icon"></fa-icon> 
      Statistic
    </mat-list-item>
  </div>
</mat-nav-list>
