<div class="container">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span>My dreams</span>
      <span class="toolbar__example-spacer"></span>
      <button mat-icon-button>
        <fa-icon [icon]="['fas', 'search']" size="lg"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon [icon]="['fas', 'plus']" size="lg"></fa-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="card hint" *ngIf="dreams.length === 0">
    <mat-card-title class="card__title">
      Oops...
    </mat-card-title>
    <mat-card-content class="card__content">
      <p class="card__text">
        You do not have a single recorded dream, do you want to record?
      </p>
      <button mat-raised-button class="card__button">Record</button>
    </mat-card-content>
  </mat-card>
  <div class="card-wrapper" *ngIf="dreams.length !== 0">
    <mat-card class="card" *ngFor="let dream of dreams">
      <div class="card__date">
        <span>{{dream.date | dateParser : 'LL'}}</span>
      </div>
      <div class="card__attr">
        <fa-icon *ngIf="dream.nightmare"
                 [icon]="['fas', 'ghost']" 
                 size="lg" 
                 matTooltip="Nightmare"
                 style="margin-right:10px">
        </fa-icon>
        <fa-icon *ngIf="dream.conscious" 
                 [icon]="['fas', 'gem']" 
                 size="lg" 
                 matTooltip="Conscious dream"
                 style="margin-right:10px">
        </fa-icon>
        <fa-icon *ngIf="dream.mood" 
                 [icon]="['fas', dream.mood | moodParser]" 
                 size="lg"
                 matTooltip="Your mood in dream">
        </fa-icon>
      </div>
      <mat-card-title class="card__title">
        {{dream.title}}
      </mat-card-title>
      <mat-card-content class="card__content">
        <p class="card__text">
          {{dream.text}}
        </p>
        <mat-chip-list class="card__tags">
          <mat-chip class="card__tag" *ngFor="let tag of dream.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
  <img class="bg" src="../../../../assets/images/dreamcather_bg.svg">
</div>